/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

header h1 {
    font-weight: bold;
}

header p {
    font-size: smaller;
}

/* Site Purpose Styles */
.site-purpose {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* Scenarios Styles */
.scenarios {
    background-color: #007A4D;
    color: black;
    padding: 20px;
    margin: 20px;
}

.scenarios h2 {
    background-color: gold;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
}

.scenarios ul {
    list-style-type: none;
}

.scenarios li {
    margin: 10px;
}

/* Color Schema Styles */
.color-box {
    padding: 10px;
    margin: 10px;
}

.primary-color {
    background-color: #000000;
    color: white;
}

.secondary-color {
    background-color: #FFB612;
    color: black;
}

/* Typography Styles */
.typography {
    color: black;
    padding: 20px;
    margin: 20px;
}
