/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.header-content {
    flex-grow: 1;
    text-align: center;
}

.header-content h1 {
    font-weight: bold;
}

.header-content p {
    font-size: smaller;
}

.Flag {
    max-width: 200px;
    height: 200px;
    margin-left: -50px;
}

/* Site Purpose Styles */
.site-purpose {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

/* Scenarios Styles */
.scenarios {
    background-color: #007A4D;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
}

.scenarios {
    background-color: #007A4D);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.scenarios ul {
    list-style-type: none;
}

.scenarios li {
    margin: 10px;
}

/* Typography Styles */
.typography {
    background-color: #001489 ;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

/* Color Schema Styles */
.color-box  {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}


.primary-color {
    background-color: #000000;
    color: white;
}

.secondary-color {
    background-color: #FFB612;
    color: rgb(255, 255, 255);
}

.third-color {
    background-color: #E03C31 ;
    color: rgb(255, 255, 255);
}

.Fourth-color {
    background-color: #007749 ;
    color: rgb(255, 255, 255);
}

.Fifth-color {
    background-color: #001489 ;
    color: rgb(255, 255, 255);
}

.wireframe {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

