/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    text-align: center;
    flex-grow: 1;
}

.header-content h1 {
    font-weight: bold;
}

.header-content p {
    font-size: smaller;
}

.Flag {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
}

/* Site Purpose Styles */
.site-purpose {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

/* Scenarios Styles */
.scenarios {
    background-color: #007A4D;
    color: black;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.scenarios h2 {
    background-color: gold;
    color: black;
    text-align: center;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

.scenarios ul {
    list-style-type: none;
}

.scenarios li {
    margin: 10px;
}

/* Color Schema Styles */
.color-box {
    padding: 10px;
    margin: 10px;
}

.primary-color {
    background-color: #000000;
    color: white;
}

.secondary-color {
    background-color: #FFB612;
    color: black;
}

/* Typography Styles */
.typography {
    color: black;
    padding: 20px;
    margin: 20px;
}
