/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 1%;
    padding: 1%;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 133, 156, 0.701);
    color: white;
    padding: 1rem 0;
}

header img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    margin-right: 10px;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin-block-start: 10%;
}

/* Dark mode styles */
.dark-mode {
    background-color: #000; 
    color: #fff; 
}

/* Adjust the position of the icon */
.icon  {
    float: right; 
    margin: 10%; 
    width: 2rem; 
    height: 2rem; 
}

/* Revert icon color in dark mode */
.dark-mode .icon {
    filter: invert(0%);
}


/* Navigation Styles */
nav {
    background-color: rgb(105, 104, 117);
    text-align: center;
    padding: 0.5rem 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    background-color: rgba(134, 133, 156, 0.701);
    padding: 5px 10px;
    border-radius: 5px;
    
}

.social {
    width: 25px;
    height: 25px;
}


/* Main Content Styles */
main {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}

main h2 {
    text-align: center;
    margin-bottom: 1rem;
    grid-column: 1 / 3;
}

/* Align the entire section to the left */
div[style="position: relative;"] {
    display: inline-block;
    vertical-align: top;
}

/*overlay */
.overlay {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

/* parent wrapper */
.parent-wrapper {
    text-align: center;
}

/* Style for block wrapper */
.block-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

/* Style for image block */
.image-block {
    flex: 0 0 auto; 
    min-width: 5%;
    flex-basis: 50%;
}

.image-block img {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Style for text block */
.text-block {
    flex: 1 1 auto; 
    margin-left: 1%;
    font-size: 20px;
    flex-basis: 50%;
}

.map-block iframe {
    width: 100%; 
    margin-left: 15%;
    max-width: 80%;
    height: 94%;
}

/* Apply styles to the list container */
.card {
    background-color: rgba(141, 141, 152, 0.701);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
}

/* Style the vertical list */
.vertical-list {
    list-style-type: none;
    padding: 1%;
}

.vertical-list li {
    margin:1%;
}

.card a {
    text-decoration: none;
    color: white;
    display: block; 
    margin-bottom: 0.2rem; 
}

/* Footer */
footer {
    background-color: rgba(134, 133, 156, 0.701);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 1rem;
}
